In [102]:
#list

name = ['Hamza','Farooq','Hammad']

In [103]:
print(name)

['Hamza', 'Farooq', 'Hammad']

In [110]:
name[0]

'Hamza'

In [4]:
name[1]

'Farooq'

In [116]:
std1 = ['Hamza',19,'hamza@sixth.com']

In [117]:
std1

['Hamza', 19, 'hamza@sixth.com']

In [130]:
std1[2] = 'Male'

In [131]:
std1

['Hamza', 19, 'Male', 'Male', 'Male', 'Male', 'Male', 'Male']

In [13]:
std1

['Hamza', 19, 'hamzasixth@yahoo.com', 'hamza@sixth.com']

In [20]:
std1[2] = 'hmzshfqt@gmail.com'

In [27]:
std1

NameError: name 'std1' is not defined

In [22]:
name.remove('Farooq')

In [23]:
name

['Hamza', 'Hammad', 'Ali']

In [24]:
del(std1[3])

In [25]:
std1

['Hamza', 19, 'hmzshfqt@gmail.com']

In [34]:
pizza = ['chicken', 'capsicum', 'black olives', 'mushrooms', 'green olives']
print(pizza)
user = input("Desire your topping: ").lower()
if user in pizza:
    print("\nOrder on the way!\nIn 20 mins")
else:
    print("We don't have this topping!")

['chicken', 'capsicum', 'black olives', 'mushrooms', 'green olives']
Desire your topping: chicken

Order on the way!
In 20 mins

In [35]:
topping = pizza.pop()

In [17]:
topping

'green olives'

In [36]:
toppings = pizza.pop(0)

In [37]:
pizza

['capsicum', 'black olives', 'mushrooms']

In [22]:
countries = ('Marandan', 'Pak colony', 'Kachi abadi')
country = countries[1]

In [21]:
country

'Pak colony'

In [24]:
user_name = 'Shaheen'

In [33]:
std1

['Hamza', 19, 'hamza@sixth.com']

In [39]:
toppings

'chicken'

In [40]:
pizza

['capsicum', 'black olives', 'mushrooms']

In [41]:
toping = ['Chicken','Mushrooms','Black olives','Green olives','Cheese','Stuff crust']
user_topping = toping[0:6]

In [42]:
user_topping

['Chicken',
 'Mushrooms',
 'Black olives',
 'Green olives',
 'Cheese',
 'Stuff crust']

In [43]:
user_topping = toping[1:7]

In [44]:
user_topping

['Mushrooms', 'Black olives', 'Green olives', 'Cheese', 'Stuff crust']

In [45]:
user_topping = toping[: :-1]

In [46]:
user_topping

['Stuff crust',
 'Cheese',
 'Green olives',
 'Black olives',
 'Mushrooms',
 'Chicken']

In [47]:
user_topping = toping[0:7:2]

In [48]:
user_topping

['Chicken', 'Black olives', 'Cheese']

In [51]:
toping

['Chicken',
 'Mushrooms',
 'Black olives',
 'Green olives',
 'Cheese',
 'Stuff crust']

In [50]:
for each in toping:
    print(each)

Chicken
Mushrooms
Black olives
Green olives
Cheese
Stuff crust

In [54]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [58]:
for i in range(20,-1,-1):
    print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [60]:
dupli = "GOOD AFTERNOON"
for i in dupli:
    print(i)

G
O
O
D

A
F
T
E
R
N
O
O
N

In [135]:
dupli = "Good Morning"
l = []
for i in dupli:
    if i not in l:
        l.append(i)
print(l)
"*".join(l)

['G', 'o', 'd', ' ', 'M', 'r', 'n', 'i', 'g']

'G*o*d* *M*r*n*i*g'

In [99]:
j=0
for i in range(2,21,2):
    j+= 1
    print("2"" x",j,"=",i)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [98]:
n = int(input("Enter digit for table: "))
print("\n")
j=0
for i in range(1,11):
    j+=1
    print("",n,"X",j,"=",n*j)

Enter digit for table: 4


 4 X 1 = 4
 4 X 2 = 8
 4 X 3 = 12
 4 X 4 = 16
 4 X 5 = 20
 4 X 6 = 24
 4 X 7 = 28
 4 X 8 = 32
 4 X 9 = 36
 4 X 10 = 40